:root {
  --accent-color: blue;
}

/* Body Section */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header section */
header {
  background-color: #fff;
}

.logo {
  font-family: 'Raleway', sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.studio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.studio-invert {
    --accent-color: #757575;
}

.portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.header-email {

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.header-tel {

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

/* main section */
.order-block {

  background-color: #2f303a;
}

h1 {

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.order-button {

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* .order-button-text {
    
    : 136px;
    : 30px;
    : 732px;
    : 440px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box , or 187% 

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
} */

/* about us section */

.first-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.second-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.third-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.fourth-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.about-us-detail-first {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.about-us-detail-second {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.about-us-detail-third {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.about-us-detail-fourth {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

/* what we do section */
.what-we-do {

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.what-we-do-first-img {

  /* background-color: url(.jpg); */
  mix-blend-mode: normal;
}

/* .what-we-do-second-img {

  background-color: url(.jpg);
} */

/* .what-we-do-third-img {

  background-color: url(.jpg);
} */

/* our team block */
/* .our-team {

    background: #F5F4FA;
} */

.our-team-caption {

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.first-team-member-block {

  background-color: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.second-team-member-block {

  background-color: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.third-team-member-block {

  background-color: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.fourth-team-member-block {

  background-color: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* team member photo */
.first-team-member-photo {

  background: url(.jpg);
  border-radius: 0px;
}

.second-team-member-photo {

  border-radius: 0px;
}

.third-team-member-photo {

  border-radius: 0px;
}

.fourth-team-member-photo {

  border-radius: 0px;
}

.first-team-member-name {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.second-team-member-name {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.third-team-member-name {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.fourth-team-member-name {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.first-team-member-profession {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.second-team-member-profession {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.third-team-member-profession {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.fourth-team-member-profession {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box  */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/* footer section */
footer {

  background-color: #2f303a;
}

.footer-logo {

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box  */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

address {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-email {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
